#aside {
    background-color: var(--bg);
    border-right: 1px solid var(--border);
    padding: 15px 5px;
    width: 150px;
}

#mappings {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

#aside div.edit-container {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    position: relative;
}

#aside button {
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    position: relative;
}

#aside button:hover {
    background-color: rgb(from var(--btn-hover) r g b / 0.5);
}

#aside svg {
    width: 20px;
    height: 20px;
}

#aside path {
    stroke: var(--text);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    background-color: var(--gray9);
    border-radius: 6px;
    border: 1px solid var(--border);
    color: var(--gray0);
    content: attr(data-text);
    display: none;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 1;
}

.tooltip.tbottom::before {
    left: initial;
    top: initial;
    margin: initial;
    left: 50%;
    top: 100%;
    margin-left: -50px;
    margin-top: 10px;
}

.tooltip.tbottom::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--gray7) transparent;
    display: none;
}

.tooltip.ttop::before {
    left: initial;
    top: initial;
    margin: initial;
    left: 50%;
    bottom: 100%;
    margin-left: -35px;
    margin-bottom: 10px;
    width: 70px;
}

.tooltip.ttop::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--gray7) transparent transparent transparent;
    display: none;
}

.tooltip:hover::before, .tooltip:hover::after {
    display: block;
}

#mappings button,
#mappings input.button-text {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    padding: 10px;
    text-align: left;
    transition: background-color 0.3s;
}

#mappings input.button-text {
    width: 70%;
}

#mappings li.mapping-li {
    background: none;
    border-radius: 8px;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s;
    width: inherit;
}

#mappings li.mapping-li:hover {
    background-color: rgb(from var(--btn-hover) r g b / 0.5);
}

#mappings li.mapping-li.active {
    background-color: var(--btn-hover);
}

#mappings ul.menu {
    background-color: var(--border);
    border-radius: 16px;
    border: 1px solid var(--menu-border);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: var(--text);
    inset: auto;
    list-style: none;
    padding: 10px;
    position: absolute;
    transition: opacity 0.3s;
    width: 100px;
}

#mappings ul.menu li button {
    border-radius: 4px;
    width: 100%;
}

#mappings ul.menu li button:hover {
    background-color: var(--menu-border);
}

#mappings button.button-delete {
    color: var(--red);
}
