/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
/* https://coolors.co/palette/ff3c29-ff0000-d51111-a4061b */
/* https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15 */
/* https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
:root {
  --blue: #0284c7;
  --blue0: #caf0f8;
  --blue1: #90e0ef;
  --blue2: #0096c7;
  --blue3: #0077b6;
  --blue4: #023e8a;
  --blue5: #03045e;
  --blue6: #001d3d;
  --font-mono: font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-title: font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --gray0: #f8f9fa;
  --gray10: #0a0c0d;
  --gray11: #000000;
  --gray1: #e9ecef;
  --gray2: #dee2e6;
  --gray3: #ced4da;
  --gray4: #adb5bd;
  --gray5: #6c757d;
  --gray6: #495057;
  --gray7: #343a40;
  --gray8: #212529;
  --gray9: #16181b;
  --red0: #ff3c29;
  --red1: #ff0000;
  --red2: #d51111;
  --red3: #a4061b;
  --red4: #ff5252;
  --red5: rgb(248, 215, 218);
  --red6: rgb(114, 28, 36);
  --green0: #d8f3dcff;
  --green1: #b7e4c7ff;
  --green2: #95d5b2ff;
  --green3: #74c69dff;
  --green4: #52b788ff;
  --green5: #40916cff;
  --green6: #2d6a4fff;
  --green7: #1b4332ff;
  --green8: #081c15ff;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.light {
  --bg: var(--gray0);
  --border: var(--gray1);
  --btn-hover: var(--gray1);
  --menu-border: var(--gray2);
  --nav-bg: var(--blue);
  --text: var(--gray6);
  --red-delete: var(--red2);
  --error-bg: var(--red5);
  --error-txt: var(--red2);
  --success-bg: var(--green0);
  --success-txt: var(--green5);
  --outline-button-border-color: var(--blue3);
  --outline-button-background: var(--blue0);
  --outline-button-border-color-hover: var(--blue6);
}

.dark {
  --bg: var(--gray8);
  --border: var(--gray7);
  --btn-hover: var(--gray7);
  --menu-border: var(--gray6);
  --nav-bg: var(--gray9);
  --text: var(--gray1);
  --red-delete: var(--red4);
  --error-bg: var(--red6);
  --error-txt: var(--red5);
  --success-bg: var(--green6);
  --success-txt: var(--green0);
  --outline-button-border-color: var(--blue2);
  --outline-button-background-hover: var(--bg);
  --outline-button-border-color-hover: var(--blue1);
}

.svg-button {
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  position: relative;
}

.svg-button:hover {
  background-color: rgb(from var(--btn-hover) r g b / 0.5);
}

.svg-button svg {
  width: 20px;
  height: 20px;
}

.svg-button path {
  stroke: var(--text);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  background-color: var(--gray9);
  border-radius: 6px;
  border: 1px solid var(--border);
  color: var(--gray0);
  content: attr(data-text);
  display: none;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 1;
}

.tooltip.tbottom::before {
  left: initial;
  top: initial;
  margin: initial;
  left: 50%;
  top: 100%;
  margin-left: -50px;
  margin-top: 10px;
}

.tooltip.tbottom::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--gray7) transparent;
  display: none;
}

.tooltip.ttop::before {
  left: initial;
  top: initial;
  margin: initial;
  left: 50%;
  bottom: 100%;
  margin-left: -35px;
  margin-bottom: 10px;
  width: 70px;
}

.tooltip.ttop::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--gray7) transparent transparent transparent;
  display: none;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: block;
}

.error {
  background-color: var(--error-bg);
  color: var(--error-txt);
  padding: 2px 8px;
  border-radius: 3px;
  display: none;
}

.success {
  background-color: var(--success-bg);
  color: var(--success-txt);
  padding: 2px 8px;
  border-radius: 3px;
}

.format-json {
  background-color: transparent;
  border-color: var(--outline-button-border-color);
  border-radius: 15px;
  border-style: solid;
  color: var(--outline-button-border-color);
  font-size: 14px;
  font-weight: bold;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  padding: 6px 17px;
}

.format-json:hover {
  background-color: rgb(
    from var(--outline-button-background-hover) r g b / 0.5
  );
  border-color: var(--outline-button-border-color-hover);
  color: var(--outline-button-border-color-hover);
}
