/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
:root {
    --blue: #0284c7;
    --font-mono: font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-title: font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --gray0: #F8F9FA;
    --gray10: #0a0c0d;
    --gray11: #000000;
    --gray1: #E9ECEF;
    --gray2: #DEE2E6;
    --gray3: #CED4DA;
    --gray4: #ADB5BD;
    --gray5: #6C757D;
    --gray6: #495057;
    --gray7: #343A40;
    --gray8: #212529;
    --gray9: #16181b;
    --red: #FF5252;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

.light {
    --bg: var(--gray0);
    --border: var(--gray1);
    --btn-hover: var(--gray1);
    --menu-border: var(--gray2);
    --nav-bg: var(--blue);
    --text: var(--gray6);
}

.dark {
    --bg: var(--gray9);
    --border: var(--gray7);
    --btn-hover: var(--gray8);
    --menu-border: var(--gray6);
    --nav-bg: var(--gray11);
    --text: var(--gray1);
}
