#navbar {
  background-color: var(--nav-bg);
  height: 40px;
  width: 100%;
}

#navbar ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0;
}

#navbar .nav-title {
  color: var(--title);
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 700;
  margin-right: 15px;
}

#navbar .nav-extra {
  font-style: italic;
  font-weight: 600;
  color: var(--nav-extra);
}

#navbar .nav-links {
  align-items: center;
  display: flex;
  gap: 15px;
}

#navbar .nav-links a {
  display: block;
}

#import-export-button {
  anchor-name: --import-menu;
}

#import-menu {
  position-anchor: --import-menu;
  top: calc(anchor(bottom) + 6px);
  right: anchor(right);
}

#button-dark-mode {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

#button-dark-mode svg {
  display: block;
  height: 16px;
  width: 16px;
}

#button-dark-mode path {
  fill: var(--nav-dark-mode-bttn);
}
